#t1
{
    margin: 0.5em;;
    background-position: left;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
body
{
    background-image: url("./SRM.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
}